textarea {
  resize: none;
}

.class--display-none {
  display: none;
}

.margin--top-10 {
  margin-top: 10px;
}

.margin--top-20 {
  margin-top: 20px;
}

.class--title {
  font-size: 24px;
}

.class--sub-title {
  font-size: 20px;
}

.class--reminder-name {
  color: blue;
  font-size: 18px;
}

.class--rmd-box {
  border: 1px solid green;
}
