/*
Colors:
Light Green   -> #9CCC65 | (156, 204, 101)
Light Lime    -> #D4E157 | (212, 225, 87)
Light Orange  -> #FFA726 | (225, 167, 38)
Light Blue    -> #42A5F5 | (66, 165, 245)
Light Red     -> #EF5350 | (239, 83, 80)
Light Purple  -> #AB47BC | (171, 71, 188)

Green  -> #8BC34A | (139, 195, 74)
Lime   -> #CDDC39
Orange -> #FF9800
Blue   -> #2196F3
Red    -> #F44336
Purple -> #9C27B0
Indigo -> #3F51B5
*/

@font-face {
  font-family: 'MyWebFont';
  src: url('../fonts/Bellefair-Regular.ttf'); /* IE9 Compat Modes */
  src: url('../fonts/Bellefair-Regular.ttf') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Bellefair-Regular.ttf') format('woff2'), /* Super Modern Browsers */
       url('../fonts/Bellefair-Regular.ttf') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/Bellefair-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
}

* {
  font-family: 'MyWebFont', monospace;
  font-size: 20px;
}

#id--main-navbar {
  background-color: #90CAF9;
}

.class--theme-color {
  color: #1E88E5;
  font-size: inherit;
}

.hr--title {
    display: block;
    border-color: rgb(53, 121, 232, 0.8);
    border-width: 2px 0 0;
    margin: 20px auto 30px;
    border-radius: 5px;
    width: 600px;
    margin-bottom: 20px;
}

.hr--subtitle {
    display: block;
    border-color: rgb(66, 134, 244, 0.4);
    border-width: 2px 0 0;
    margin: 20px auto 30px;
    border-radius: 5px;
    width: 450px;
    margin-bottom: 20px;
}

.class--hr-upc-ong-seperator {
  margin-top: 50px;
  margin-bottom: 50px;
}

#id--the-reminder {
  resize: none;
  padding: 5px;
  letter-spacing: 1px;
}

.class--just-center {
  justify-content: center;
}

.class--text-center {
  text-align: center;
}

.class--display-none {
  display: none;
}

.margin--top-10 {
  margin-top: 10px;
}

.margin--top-20 {
  margin-top: 20px;
}

.font--size-35 {
  font-size: 35px;
  text-align: center;
}

.class--sub-title {
  font-size: 30px;
  text-align: center;
}

.class--reminder-name {
  color: #3949AB;
  font-size: 27px;
}

.class--reminder-date-time {
  color: #3949AB;
}

.class--rmd-box {
  border-radius: 5px;
  padding: 5px 8px;
}

.class--background-color-green {
  border: 1px solid #8BC34A;
  background-color: rgba(156, 204, 101, 0.2);
}

.class--background-color-lime {
  border: 1px solid #CDDC39;
  background-color: rgba(212, 225, 87, 0.2);
}

.class--background-color-orange {
  border: 1px solid #FF9800;
  background-color: rgba(225, 167, 38, 0.2);
}

.class--background-color-blue {
  border: 1px solid #2196F3;
  background-color: rgba(66, 165, 245, 0.2);
}

.class--background-color-red {
  border: 1px solid #F44336;
  background-color: rgba(239, 83, 80, 0.2);
}

.class--background-color-purple {
  border: 1px solid #9C27B0;
  background-color: rgba(171, 71, 188, 0.2);
}
